@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-soft: #f0f9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* physician report PRINT */
@media print {
  body * {
    visibility: hidden;
  }
  #clinical-print-section, #clinical-print-section * {
    visibility: visible;
  }
  #clinical-print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black !important;
    background: white !important;
  }
  @page {
    margin: 2cm;
  }
  .page-break-inside-avoid {
    page-break-inside: avoid;
  }
}